/* ==========================================================================
  Classes - Spacing
========================================================================== */


/*==========  PADDING  ==========*/

.pad {
  padding: $padding;
}


.pad-v {
  padding-top: $padding;
  padding-bottom: $padding;

  @include breakpoint(medium) {
    padding-top: $padding - 10;
    padding-bottom: $padding - 10;
  }
  @include breakpoint(small) {
    padding-top: $padding - 30;
    padding-bottom: $padding - 30;
  }
}

.pad-h {
  padding-right: $padding;
  padding-left: $padding;
}

.pad-h--2x {
  padding-right: $padding*2;
  padding-left: $padding*2;
}



/*==========  PADDING TOP ==========*/

.pad-t {
  padding-top: $padding;

  @include breakpoint(medium) {
    padding-top: $padding - 10;
  }
  @include breakpoint(small) {
    padding-top: $padding - 30;
  }
}

.pad-t--2x {
  padding-top: $padding*2;
}

.pad-t--3x {
  padding-top: $padding*3;
}

.pad-t--4x {
  padding-top: $padding*4;

  @include breakpoint(large) {
    padding-top: $padding*3;
  }
  @include breakpoint(medium) {
    padding-top: $padding*2;
  }
  @include breakpoint(small) {
    padding-top: $padding*1.5;
  }
}

.pad-t--30 {
  padding-top: 30px;
}

.pad-t--20 {
  padding-top: 20px;
}

.pad-t--10 {
  padding-top: 10px;

  @include breakpoint(small) {
    padding-top: 0;
  }
}

.pad-t--0 {
  padding-top: 0;
}

.pad-t-s--0 {
  @include breakpoint(small) {
    padding-top: 0;
  }
}



/*==========  PADDING BOTTOM  ==========*/

.pad-b {
  padding-bottom: $padding;

  @include breakpoint(medium) {
    padding-bottom: $padding - 10;
  }
  @include breakpoint(small) {
    padding-bottom: $padding - 30;
  }
}

.pad-b--2x {
  padding-bottom: $padding*2;

  @include breakpoint(medium) {
    padding-bottom: $padding;
  }
}

.pad-b--3x {
  padding-bottom: $padding*3;

  @include breakpoint(medium) {
    padding-bottom: $padding*2;
  }
}

.pad-b--4x {
  padding-bottom: $padding*4;
}

.pad-b--30 {
  padding-bottom: 30px;
}

.pad-b--20 {
  padding-bottom: 20px;

  @include breakpoint(small) {
    padding-bottom: 10px;
  }
}

.pad-b--10 {
  padding-bottom: 10px;
}

.pad-b--0 {
  padding-bottom: 0;
}

.pad-b-s--0 {
  @include breakpoint(small) {
    padding-bottom: 0;
  }
}



/*==========  PADDING HORIZONTAL ==========*/

.pad-r {
  padding-right: $padding;
}

.pad-l {
  padding-left: $padding;
}




/*==========  MARGIN  ==========*/

.mar {
  margin: $margin;
}

.mar-v {
  margin-top: $margin;
  margin-bottom: $margin;
}

.mar-h {
  margin-right: $margin;
  margin-left: $margin;
}




/*==========  MARGIN TOP  ==========*/

.mar-t {
  margin-top: $margin;
}

.mar-t--2x {
  margin-top: $margin*2;
}

.mar-t--20 {
  margin-top: 20px;
}

.mar-t--10 {
  margin-top: 10px;
}

.mar-t--0 {
  margin-top: 0;
}




/*==========  MARGIN BOTTOM  ==========*/

.mar-b {
  margin-bottom: $margin;
}

.mar-b--2x {
  margin-bottom: $margin*2;
}

.mar-b--20 {
  margin-bottom: 20px;
}

.mar-b--10 {
  margin-bottom: 10px;
}

.mar-b--0 {
  margin-bottom: 0;
}
