/* ==========================================================================
  Classes
========================================================================== */


/*==========  FLOATS/ORDER  ==========*/

.left {
  float: left;
}

.right {
  float: right;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}



/*==========  TEXT  ==========*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-highlight {
  font-size: $fontLarge;
}

.text-white {
  color: #fff;
}

.text-red {
  color: $colorRed;
}

.text-schedule {
  font-size: 101px;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 0.9;
  span {
    display: block;
  }
}

.text-huge {
  font-size: 50px;
  line-height: $lineHeightHeader;
}

.text-medium {
  font-size: 14px;
}



/*==========  BACKGROUND  ==========*/

.bg-white {
  background-color: #fff;
}

.bg-white-opacity {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-gray-dark {
  background-color: $colorGrayXDark;
}

.bg-dotted {
  background-image: url(../img/structure/bg-dots.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
}

.bg-produce {
  background: url(../img/backgrounds/produce.jpg) no-repeat center center;
  background-size: cover;
}



/*==========  BORDERS  ==========*/

.border-bottom {
  border-bottom: 2px solid #fff;
}

.inline-border {
  position: relative;
  &:after {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -1px;
  }
  .text {
    display: inline-block;
    background: $colorGrayXDark;
    padding: 0 10px;
    position: relative;
    z-index: 2;
  }
}


/*==========  ALIGNMENT  ==========*/

.flex-v-align {
  align-items: center;
}

.flex-t-align {
  align-items: flex-start;
}

.flex-b-align {
  align-items: flex-end;
}

.v-align {
  @include vAlign();
}


/*==========  HIDE  ==========*/

.hide {
  display: none;
  visibility: hidden;
}

.tablet-hide {
  @include breakpoint(medium) {
    display: none;
    visibility: hidden;
  }
}

.mobile-hide {
  @include breakpoint(small) {
    display: none;
    visibility: hidden;
  }
}



/*==========  UTILITIES  ==========*/

.break {
  display: block;

  @include breakpoint(large) {
    display: inline;
  }
  @include breakpoint(medium) {
    display: inline;
  }
  @include breakpoint(small) {
    display: inline;
  }
}

.truncate {
  @include ellipsis();
}

.relative {
  position: relative;
}




