/* ==========================================================================
  Blog
========================================================================== */


.time-post {
  color: $colorGrayXLight;
  font-size: $fontH4;
  letter-spacing: 1px;
  padding: 0 0 5px;
  @include fontLeagueGothic();
}

.headline-post {
  padding: 0 0 15px;
  @include fontMontserrat();
  a {
    color: $colorGrayDark;
    &:hover,
    &:focus {
      color: $colorRed;
    }
  }
}

.post-img-wrap {
  margin: 0 0 20px;
}

.post-wrap {
  padding-bottom: 50px;
}

.post-excerpt-wrap {
  padding: 0 0 $padding+20 0;

  .post-content {
    padding: 0;
  }
}

.post-content {
  font-size: $fontSmall + 2;
  line-height: 1.7;
  color: $colorGray;
  padding: 20px 0 0 0;
  p {
    padding: 0 0 20px;
  }
  ul, ol {
    padding: 0 0 20px 30px;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  li {
    padding: 0 0 5px;
  }
  h2, h3 {
    padding: 0 0 12px;
  }
  h4 {
    padding: 0 0 10px;
  }
  h5, h6 {
    padding: 0 0 5px;
  }
}

.post-read-more {
  text-align: center;
  padding: 30px 0 0;

  @include breakpoint(medium) {
    padding: 20px 0 0 0;
  }
  @include breakpoint(small) {
    padding: 10px 0 0 0;
  }
}

.post-share {
  background: #E4E4E4;
  text-transform: uppercase;
  font-size: $fontSmall - 2;
  color: #9B9B9B;
  padding: 11px 20px 10px;
  margin-top: 40px;
  @include clearfix();
  a {
    color: #9B9B9B;
    &:hover,
    &:focus {
      color: $colorRed;
    }
    &.right {
      position: relative;
      bottom: -4px;
    }
  }
  li {
    vertical-align: middle;
    margin: 0 8px 0 0;
  }
  span {
    font-size: $fontLarge + 4;
  }
}

.nav-posts {
  text-align: center;
  padding: 0 0 $padding 0;
  @include clearfix();
  a {
    display: block;
    color: $colorGray;
    transition: color 0.13s ease-in-out, opacity 0.1s ease-in-out;
    &:before,
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      transition: transform 0.1s ease-in-out;
    }
    &:hover,
    &:focus {
      color: $colorRed;
    }
  }
}

.nav-posts-left {
  float: left;
  a {
    &:hover,
    &:focus {
      &:before {
        transform: translateX(-5px);
      }
    }
    &:before {
      border-right: 22px solid $colorGray;
      margin-right: 20px;
    }
  }
}

.nav-posts-right {
  float: right;
  a {
    &:hover,
    &:focus {
      &:after {
        transform: translateX(5px);
      }
    }
    &:after {
      border-left: 22px solid $colorGray;
      margin-left: 20px;
    }
  }
}

// .owl-prev,
//   .owl-next {
//     transition: color 0.13s ease-in-out, opacity 0.1s ease-in-out;
//     &:hover,
//     &:focus {
//       color: $colorRed;
//     }
//     &.disabled {
//       opacity: 0.2;
//       pointer-events: none;
//     }
//     &:before,
//     &:after {
//       content: "";
//       display: inline-block;
//       vertical-align: middle;
//       width: 0;
//       height: 0;
//       border-top: 12px solid transparent;
//       border-bottom: 12px solid transparent;
//       transition: transform 0.1s ease-in-out;
//     }
//   }

//   .owl-prev {
//     float: left;
//     &:hover,
//     &:focus {
//       &:before {
//         transform: translateX(-5px);
//       }
//     }
//     &:before {
//       border-right: 22px solid #fff;
//       margin-right: 20px;
//     }
//   }

//   .owl-next {
//     float: right;
//     &:hover,
//     &:focus {
//       &:after {
//         transform: translateX(5px);
//       }
//     }
//     &:after {
//       border-left: 22px solid #fff;
//       margin-left: 20px;
//     }
//   }
// }