/* ==========================================================================
  Forms
========================================================================== */

form {
  margin: 0;
  @include placeholder(#ccc);
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  @include fontMontserrat();
  will-change: all;
  transition: all 0.13s ease-in-out;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form-subscribe {
  input {
    display: inline-block;
    &[type=email] {
      @include placeholder(#fff);
      border: none;
      outline: 0;
      color: #fff;
      background: none;
      border-bottom: 2px solid #fff;
      padding: 5px 0;
      &:hover,
      &:focus {
        color: #fff;
      }
    }
    &[type=submit] {
      border: none;
      outline: 0;
      background: none;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 0 0 4px;
      position: relative;
      bottom: -10px;
      &:hover,
      &:focus {
        color: $colorRed;
      }
    }
  }
}

.form-subscribe-large {
  input {
    width: 70%;
  }
}


.form-block {
  display: block;
  label, p {
    display: block;
    font-size: $fontH6;
  }
  label {
    color: $colorGrayXDark;
    text-transform: uppercase;
  }
  input, textarea {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  small {
    color: #9B9B9B;
  }
  .loading {
    .submit-btn {
      display: block;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        border-right: 2px solid #aaa;
        border-bottom: 2px solid #aaa;
        position: absolute;
        top: 50%;
        right: 0%;
        margin: -6px 20px 0 0;
        position: absolute;
        border-radius: 100%;
        z-index: 2;
        animation: spinner 0.4s infinite linear;
      }
    }
  }
  .ajax-loader {
    display: none !important;
  }
}

.form-contact {
  position: relative;
  @include clearfix();
  label {
    text-transform: uppercase;
    font-size: $fontH5;
    display: block;
    &:first-of-type {
      padding-bottom: 20px;
    }
  }
  input,
  textarea {
    margin-top: 7px;
  }
  .loading {
    .submit-btn {
      display: block;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        border-right: 2px solid #aaa;
        border-bottom: 2px solid #aaa;
        position: absolute;
        top: 50%;
        right: 0%;
        margin: -6px 20px 0 0;
        position: absolute;
        border-radius: 100%;
        z-index: 2;
        animation: spinner 0.4s infinite linear;
      }
    }
  }
  .ajax-loader {
    display: none !important;
  }
}

.form-column {
  width: 45%;

  @include breakpoint(small) {
    width: 100%;
  }
}

.form-column-left {
  float: left;
  label {
    &:first-of-type {
      padding-bottom: 72px;
    }
  }

  @include breakpoint(large) {
    label {
      &:first-of-type {
        padding-bottom: 71px;
      }
    }
  }
  @include breakpoint(small) {
    float: none;
    label {
      padding: 0 0 20px;
      &:first-of-type {
        padding: 0 0 20px;
      }
    }
  }
}

.form-column-right {
  float: right;

  @include breakpoint(small) {
    float: none;
  }
}

.input-styled {
  border: 2px solid $colorGrayXDark;
  padding: 15px 15px 14px;
  line-height: $lineHeight;
  &:hover,
  &:focus {
    outline: 0;
    border: none;
    border: 2px solid $colorGrayLight;
  }
}

.input-white {
  border: none;
  outline: 0;
  display: block;
  width: 100%;
  background: #fff;
  padding: 15px 15px 14px;
  line-height: $lineHeight;
  font-size: $fontSmall;
  &:hover,
  &:focus {
    outline: 0;
    border: none;
    background: #f0f0f0;
  }

  @include breakpoint(large) {
    padding: 14px 15px 13px;
  }
  @include breakpoint(medium) {
    padding: 13px 15px 12px;
  }
}


div.wpcf7-response-output {
  display: block;
  width: 100%;
  text-align: center;
  border: none !important;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;

  .page-template-page-get-started & {
    bottom: 20px;
  }

  @include breakpoint(medium) {
    font-size: $fontSmall;
    bottom: -45px;

    .page-template-page-get-started & {
      bottom: 10px;
    }
  }
}

span.wpcf7-form-control-wrap {
  display: block;
}

span.wpcf7-not-valid-tip {
  position: absolute;
  left: 0;
  bottom: -18px;
  font-size: $fontSmall - 1;
  color: $colorRed;
  display: block;
  width: 100%;
  animation: fadeIn 0.23s ease-in-out;
}



