/* ==========================================================================
  Links
========================================================================== */


a {
  color: $colorLink;
  text-decoration: none;
  will-change: all;
  transition: all 0.13s ease-in-out;
  &:hover,
  &:focus {
    color: darken($colorLink, 15%);
  }
}

.link-gray-dark {
  color: $colorGrayDark;
  &:hover,
  &:focus {
    color: $colorRed;
  }
}

