/* ==========================================================================
  Lists
========================================================================== */


ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline {
  li {
    display: inline-block;
  }
}

.list-box-four {
  border: 1px solid $colorGrayDark;
  @include clearfix();
  li {
    display: block;
    width: 25%;
    float: left;
    height: 124px;
    text-align: center;
    border-right: 1px solid $colorGrayDark;
  }
  .last {
    border-right: none;
  }
  strong {
    display: block;
    @include vAlign();
  }

  @include breakpoint(small) {
    li {
      height: 110px;
      width: 50%;
      &:first-of-type {
        border-bottom: 1px solid $colorGrayDark;
      }
      &:nth-of-type(2) {
        border-right: none;
        border-bottom: 1px solid $colorGrayDark;
      }
    }
  }
}

.list-count {
  counter-reset: counter;
  display: block;
  @include clearfix();
  li {
    display: inline-block;
    width: 49%;
    height: 80px;
    position: relative;
    padding: 0 10px 0 70px;
    vertical-align: middle;
    &:before {
      content: counter(counter, decimal-leading-zero);
      counter-increment: counter;
      font-size: 60px;
      color: #E4E4E4;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -27px;
      line-height: 1;
      height: 54px;
      display: block;
      @include fontLeagueGothicItalic();
    }
  }
  span {
    display: block;
    @include vAlign();
  }

  @include breakpoint(small) {
    li {
      display: block;
      width: 100%;
      height: auto;
      min-height: 54px;
      margin: 0 0 20px;
    }
    span {
      top: auto;
      transform: none;
    }
  }
}