/* ==========================================================================
  BG Wrap
========================================================================== */


.bg-wrap {
  position: absolute;
  top: 140px;
  right: 0;
  left: 0;
  width: 100%;
  height: 460px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1;
  &.bg-1-1 {
    background-image: url(../img/backgrounds/bg-header-1-1.jpg);
  }
  &.bg-2-1 {
    background-image: url(../img/backgrounds/bg-header-2-1.jpg);
  }
  &.bg-2-2 {
    background-image: url(../img/backgrounds/bg-header-2-2.jpg);
  }
  &.bg-2-3 {
    background-image: url(../img/backgrounds/bg-header-2-3.jpg);
  }

  @include breakpoint(large) {
    height: 400px;
    top: 0;
  }
  @include breakpoint(medium) {
    height: 300px;
  }
  @include breakpoint(small) {
    margin-top: 30px;
    height: 250px;
  }
}

.bg-map {
  background: url(../img/backgrounds/bg-map.jpg) no-repeat center bottom;
  background-size: cover;
}