/* ==========================================================================
  BG Wrap
========================================================================== */


.bg-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1;
  .home & {
    background-image: url(../img/backgrounds/bg-1.jpg);
  }
  .page-template-page-schedule & {
    background-image: url(../img/backgrounds/bg-2.jpg);
  }
  .page-template-page-memberships & {
    background-image: url(../img/backgrounds/bg-3.jpg);
  }
  .page-template-page-nutrition & {
    background-image: url(../img/backgrounds/bg-2.jpg);
  }
  .page-template-page-get-started & {
    background-image: url(../img/backgrounds/bg-2.jpg);
  }
  .page-template-page-contact & {
    background-image: url(../img/backgrounds/bg-2.jpg);
  }
  .page-template-page-the-studio & {
    background-image: url(../img/backgrounds/bg-3.jpg);
  }
  .blog & {
    background-image: url(../img/backgrounds/bg-2.jpg);
  }
}

.bg-map {
  background: url(../img/backgrounds/bg-map.jpg) no-repeat center bottom;
  background-size: cover;
}