/* ==========================================================================
  Footer
========================================================================== */


footer {
  padding: $padding 0;
  color: #fff;
  font-size: $fontSmall;
  background: #000;
  animation: fadeIn 0.3s 0.2s both;
  h6 {
    text-transform: uppercase;
    padding: 0 0 13px;
  }
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: $colorRed;
    }
  }

  @include breakpoint(small) {
    margin-bottom: -2px;
  }
}

.list-footer-content {
  li {
    vertical-align: top;
    padding-right: 40px;
    &.first {
      padding: 0 80px 0 0;
    }
    &.last {
      padding: 0 0 0 20px;
    }
  }

  @include breakpoint(large) {
    li {
      padding-right: 20px;
      &.first {
        padding: 0 35px 0 0;
      }
    }
  }
  @include breakpoint(medium) {
    li {
      padding-right: 15px;
      &.first {
        display: none;
      }
      &.last {
        padding: 0;
      }
    }
  }
  @include breakpoint(small) {
    li {
      display: block;
      padding: 0 0 25px;
      &.first {
        display: none;
      }
      &.last {
        padding: 0;
      }
    }
  }
}

.list-info-footer {
  li {
    display: block;
  }

  @include breakpoint(small) {
    li {
      padding: 0 0 3px;
    }
  }
}

.list-social-footer {
  font-size: $fontLarge;
  li {
    padding: 0 10px 0 0;
  }

  @include breakpoint(small) {
    li {
      display: inline-block;
    }
  }
}