/* ==========================================================================
  Box - Community
========================================================================== */


.box-community {
  height: 240px;
  text-align: left;
  margin-bottom: 40px;

  @include breakpoint(large) {
    height: 192px;
  }
  @include breakpoint(medium) {
    height: 192px;
  }
  @include breakpoint(small) {
    height: auto;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

.box-community-inner {
  @include vAlign();

  @include breakpoint(small) {
    top: 0;
    transform: translateY(0%);
  }
}

.feed-instagram {
  display: block;
  @include clearfix();
  li {
    display: block;
    width: 33.333333%;
    float: left;
  }
  a {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.list-reviews {
  font-size: $fontLarge;
  line-height: $lineHeightHeader;
  li {
    padding: 0 0 30px;
    &:last-of-type {
      padding: 0;
    }
  }
  span {
    display: block;
    padding: 15px 0 0 0;
    font-size: $fontH5;
    @include fontMontserratBold();
  }
  a {
    color: $colorGrayLight;
    &:hover,
    &:focus {
      color: $colorRed;
    }
  }

  @include breakpoint(large) {
    font-size: $fontLarge - 2;
    li {
      padding: 0 0 20px;
    }
  }
  @include breakpoint(medium) {
    font-size: $fontLarge - 3;
    li {
      padding: 0 0 10px;
    }
    img {
      margin: auto;
      width: 80px;
      display: block;
    }
  }
}

.feed-twitter {
  overflow: hidden;
  font-size: $fontH4;
  color: $colorGrayLight;
  line-height: $lineHeightHeader;
  a {
    &[data-scribe='element:url'] {
      @include ellipsis();
      max-width: 100%;
      display: inline-block;
    }
  }
  .timePosted {
    font-size: 14px;
    color: $colorGrayXLight;
    padding: 0;
  }

  @include breakpoint(large) {
    font-size: $fontH4 - 4;
  }
}