/* ==========================================================================
  Box - Photo
========================================================================== */


.box-photo {
  position: relative;
  .img-wrap {
    height: 330px;
    overflow: hidden;
  }
  .content-wrap {
    background: #fff;
    padding: 20px;
    position: relative;
    z-index: 2;
    width: 80%;
    margin: -70px auto 0;
    &.equal-height {
      min-height: 228px;
    }
    h5 {
      padding: 0 0 10px;
    }
  }

  @include breakpoint(large) {
    .img-wrap {
      height: 318px;
    }
    .content-wrap {
      padding: 15px;
      width: 88%;
      &.equal-height {
        min-height: 255px;
      }
    }
  }
  @include breakpoint(medium) {
    .img-wrap {
      height: 240px;
    }
    .content-wrap {
      padding: 10px;
      width: 94%;
      &.equal-height {
        min-height: 264px;
      }
    }
  }
  @include breakpoint(small) {
    padding-bottom: 20px;
    .img-wrap {
      height: 160px;
    }
    .content-wrap {
      padding: 10px 10px 15px;
      width: 94%;
      &.equal-height {
        min-height: 0;
      }
    }
  }
}