/* ==========================================================================
  Box - Community
========================================================================== */


.box-community {
  height: 240px;
  text-align: left;
  margin-bottom: 40px;
}

.box-community-inner {
  @include vAlign();
}

.feed-instagram {
  display: block;
  @include clearfix();
  li {
    display: block;
    width: 33.333333%;
    float: left;
  }
  a {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.list-reviews {
  font-size: $fontLarge;
  line-height: $lineHeightHeader;
  li {
    padding: 0 0 30px;
    &:last-of-type {
      padding: 0;
    }
  }
  span {
    display: block;
    padding: 15px 0 0 0;
    font-size: $fontH5;
    @include fontMontserratBold();
  }
  a {
    color: $colorGrayLight;
    &:hover,
    &:focus {
      color: $colorRed;
    }
  }
}

.feed-twitter {
  overflow: hidden;
  font-size: $fontH4;
  color: $colorGrayLight;
  line-height: $lineHeightHeader;
  a {
    @include ellipsis();
  }
  .timePosted {
    font-size: 14px;
    color: $colorGrayXLight;
    padding: 0;
  }
}