/* ==========================================================================
  Box - Memberships
========================================================================== */


.box-memberships {
  .content {
    padding: $padding 25px;
  }
  .content--cycling {
    padding-bottom: 0;
  }
  .h1 {
    padding: 0 0 10px;
    font-size: $fontH1 - 2;
  }
  .border-bottom {
    padding: 0 0 17px;
    margin-bottom: 7px;
  }
  p, .list-inline {
    padding: 0;
    line-height: 1;
  }
  .border {
    border-left: 1px solid #fff;
    padding-left: 9px;
    margin-left: 8px;
  }

  @include breakpoint(large) {
    .content {
      padding: 30px 15px;
    }
    .content--cycling {
      padding-bottom: 0;
    }
    .h1 {
      font-size: $fontH1 - 8;
    }
  }
  @include breakpoint(medium) {
    .h1 {
      font-size: $fontH1 - 16;
    }
    p {
      padding: 0 0 18px;
    }
    .border {
      border: none;
      padding: 4px 0 0 0;
      margin: 0;
      display: block;
    }
  }
  @include breakpoint(small) {
    .content {
      padding: 20px;
    }
    p {
      padding: 0;
    }
  }
}

.list-memberships-classes {
  padding: 25px 0;
  font-size: $fontLarge;
  li {
    padding: 0 0 5px;
    &:last-of-type {
      padding: 0;
    }
  }
}

.list-memberships-packages {
  padding: 25px 0 6px;

  .price {
    font-size: 41px;
  }
  .price--first {
    padding: 0 0 28px;
  }

  @include breakpoint(large) {
    padding-bottom: 1px;
  }
  @include breakpoint(medium) {
    font-size: 18px;
    .price--first {
      padding: 0 0 38px;
    }
  }
}

.list-cycling-packages {
  padding: 25px 0 11px;

  .price {
    font-size: 32px;
    padding: 0 0 9px;
  }

  @include breakpoint(large) {
    padding-bottom: 10px;
    .price {
      font-size: 27px;
    }
  }
  @include breakpoint(medium) {
    padding-bottom: 11px;
    .price {
      font-size: 32px;
    }
  }
  @include breakpoint(small) {
    padding-bottom: 0;
  }
}

.price-memberships {
  display: block;
  padding: 0 0 15px;
}

