/* ==========================================================================
  Nav - Social
========================================================================== */


.nav-social {
  position: absolute;
  text-transform: uppercase;
  font-size: $fontH5;
  transform: rotate(-90deg);
  top: 450px;
  left: -230px;
  @include fontMontserratBold();
  li {
    display: inline-block;
    padding: 0 3px 0 0;
  }

  .pad-t--2x & {
    top: 550px;
  }

  .no-csstransforms & {
    top: 620px;
    left: 20px;
    li {
      display: block;
    }
  }

  @include breakpoint(large) {
    top: 331px;
    .pad-t--2x & {
      top: 381px;
    }
  }
  @include breakpoint(medium) {
    top: 315px;
    .pad-t--2x & {
      top: 315px;
    }
  }
  @include breakpoint(small) {
    display: none;
  }
}

.item-social {
  &:after {
    content: "•";
    color: $colorRed;
    padding: 0 0 0 5px;
  }
  &:last-of-type {
    &:after {
      content: "";
      display: none;
      padding: 0;
    }
  }
}
