/* ==========================================================================
  Animation - Defined
========================================================================== */


.animate {
  animation-fill-mode: both;
}



/*==========  FADE IN  ==========*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/*==========  FADE OUT  ==========*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/*==========  SPINNER  ==========*/

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}